* {
  font-family: "Arial";
  font-family: "Arial";
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=150930), auto;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
  }

  body{
    position: relative;
  }

#game_elements {
  display:none;
}

#server_info{
  position: absolute;
  float: right;
  top: 0;
  right: 0;
  width: 20%;
  height: 50%;
  border: solid black 1px;
  z-index: 1;
}


#client_info{
  position: absolute;
  float: right;
  bottom: 0;
  right: 0;
  width: 20%;
  height: 50%;
  border: solid black 1px;
  z-index: 1;
}

canvas{
  z-index: -1;
}

#scores{
  height: 100%;
}

.dim {
  /* For Internet Explorer */
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, .3);
    
  /* For other browsers */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
}
