* {
  font-family: "Arial";
  font-family: "Arial";
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=150930), auto;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

  /*#game_elements {
    position: absolute !important;
    top: 0;
    left: 0;
    opacity: 0;
}*/
#game_elements {
    display:none;
}

body{
  overflow: hidden;
}

#start_game{
  text-align: center;
  width: 50%;
  margin-top: 5px;
}

#game_name{
  text-align: center;
  margin-bottom: 25px;
  font-size: 50px;
}

#username{
  width: 50%;
  margin: auto;
}

#input_container{
  text-align: center;
  margin-bottom: 100%;
}