* {
  font-family: 'Roboto', sans-serif, "Arial";
  cursor: url(http://www.rw-designer.com/cursor-extern.php?id=150930), auto;
}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */
  
    display: flex;
    align-items: center;
}

  body{
    position: relative;
  }

#game_elements {
  display:none;
}

#server_info{
  position: absolute;
  float: right;
  top: 5px;
  right: 5px;
  width: 20%;
  height: 50%;
  border: solid black 1px;
  pointer-events: none;
  z-index: 1;
  font-size: 1vw;
}

canvas{
  z-index: -1;
}

#scores{
  height: 100%;
}

.dim {
  /* For Internet Explorer */
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, .3);
    
  /* For other browsers */
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .3);
}

body{
  overflow: hidden;
}

#start_game{
  text-align: center;
  width: 50%;
  margin-top: 5px;
}

#game_name{
  text-align: center;
  margin-bottom: 25px;
  font-size: 50px;
}

#username{
  width: 50%;
  margin: auto;
}

#input_container{
  text-align: center;
  margin-bottom: 100%;
}
