* {
  font-family: "Roboto", sans-serif, "Arial";
}



*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

html,
body,
div,
canvas {
  margin: 0px;
  padding: 0px;
}

/* body { */
/*   overflow: hidden; */
/* } */

/* canvas { */
/*   display: block; */
/* } */

#container {
  position: relative;
}

#gameContainer {
  position: fixed;
  z-index:1;
  filter: brightness(50%);

}


/* body { */
/*   overflow: hidden; */
/* } */
