* {
  font-family: "Roboto", sans-serif, "Arial";
}

html,
body,
div,
canvas {
  margin: 0px;
  padding: 0px;
}

/* body { */
/*   overflow: hidden; */
/* } */

/* canvas { */
/*   display: block; */
/* } */

#container {
  position: relative;
}

#gameContainer {
  position: absolute;
  z-index:1;
  filter: brightness(50%);
}

#startPageContainer {
  position: absolute;
  z-index:2;
}

/* body { */
/*   overflow: hidden; */
/* } */
